.red {
    color: red;
}

.pink {
    color: pink;
}

.bg-cyan {
    background-color: cyan;
}

.bg-orange {
    background-color: orange;
}

.fs-32 {
    font-size: 32px;
}

.fs-132 {
    font-style: 132px;
}

.mg {
    text-align: center;
}